
presentational-card {
    div.card {
        background-color: #FFF;
        // Margin needed to show "card" effect
        margin:10px;
        box-shadow: 0px 1px 2px rgba(0,0,0,.3);
        --webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.3);
    }
}