text-input {
    input[type="text"] {
        width:100%;
        font-size: 1.0rem;
        height: 2rem;
        max-width: 400px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid blue;
            /* Larger than mobile */
        @media (min-width: 400px) {}

        /* Larger than phablet */
        @media (min-width: 550px) {}

        /* Larger than tablet */
        @media (min-width: 750px) {}

        /* Larger than desktop */
        @media (min-width: 1000px) {}

        /* Larger than Desktop HD */
        @media (min-width: 1200px) {}        
    }

}