layout-tabs {
    .tabs {

        display: flex;
        height: 60px;
        width: 100vw;
        justify-content: space-evenly;
    }

    .top-tabs {
        position: absolute;
        top:0;
        left:0;
    }

    .bottom-tabs {
        position: fixed;
        bottom: 0;
         left: 0;
    }
}