
notifications-confirm {
    font-family: -apple-system,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;
    div.confirm-bg {
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.6;
        z-index: 98;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        min-width: 100vw;
    }
    div.confirm {
        position: absolute;
    z-index: 13500;
    left: 50%;
    margin-top: 0;
    top: 50%;
    overflow: hidden;
        //Below is .ios
        background: #FFF;
        min-height:123px;
        width: 270px;
        margin-left: -135px;
        text-align: center;
        border-radius: 13px;
        color: #000;
    }
        div.confirm-hidden {
            display: none;
        }
        div.confirm-visible {
            display: block;
        }

        a.confirm-button {
            width:49%;
            height:44px;
            border:none;
            border-top:1px solid rgb(219, 217, 217);
            border-right:1px solid rgb(219, 217, 217);
            background-color: #FFF;
            color: #007aff;
            font-size: 1.0rem;
            text-decoration: none;
            display: inline-block;
            padding-top:20px;
        }

        a.cancel-button {
            width:49%;
            height:44px;
            border:none;
            border-top:1px solid rgb(219, 217, 217);
            background-color: #FFF;
            color: #007aff;
            font-size: 1.0rem;
            text-decoration: none;
            display: inline-block;
            padding-top:20px;
        }
    
}