notifications-toast {
    font-family: -apple-system,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;
    div.toast {
        height:55px;
        width:100vw;
        background-color: #000;
        opacity: 0.85;
        color: #FFF;
        position: fixed;
        bottom:0;
        left:0;

        p {
            margin-left:15px;
            width: 75%;
            float: left;
            font-size: 1.0rem;
        }

        a.toast-button {
            text-align: center;
            padding-top:15px;
            height:100%;
            width:15%;
            font-weight: bold;
            color: #007aff;
            font-size: 1.1rem;
            text-decoration: none;
            float: right;
            padding-right:5px;
        }
    }
}