
presentational-action-sheet {
    div.container {
        position: relative;
    }
    div.bg {
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.6;
        z-index: 98;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        min-width: 100vw;
    }
    div.action-sheet {
        position: fixed;
        left:0;
        bottom:0;
        z-index: 10000;
        width: 100vw;
        background-color: #FFF;
    }
}