layout-tab {
    .tab {
        position: relative;
        display: flex;
        width: 100%;
        height:100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .tab-badge {
            position: absolute;
            top: 3px;
            right: 40%;
            background-color: rgb(218, 0, 0);
            color: white;
            border-radius: 50%;
            width: 18px;
            text-align: center;
        }
        .tab-text {

        }
        .tab-icon {
            
        }


    }
    .animate-tab {

        transform: translateY(-2px);
        opacity:0.3;
    }

    @keyframes anim-effect-tab-click {
        0% {
            transform: translateY(-4);
        }
        25%, 50% {
            opacity: 1;
        }
        100% {
            transform: translateY(0);
        }
    }
}