// Layout
@import "./layout/tabs/tabs";
@import "./layout/tabs/tab/tab";
@import "./layout/navbar/navbar";
// Buttons
@import "./buttons/back-button/back-button";
@import "./buttons/button/button";
// Forms
@import "./forms/inputs/text-input/text-input";
// Notifications
@import "./notifications/alert/alert";
@import "./notifications/confirm/confirm";
@import "./notifications/toast/toast";
// Presentational
@import "./presentational/modal/modal";
@import "./presentational/card/card";
@import "./presentational/popover/popover";
@import "./presentational/action-sheet/action-sheet";

// Common helpers
.pad {
    padding: 10px;
}

.pad-top {
    padding-top: 10px;
}
.pad-bottom {
    padding-bottom: 10px;
}
.pad-left {
    padding-left: 10px;
}
.pad-right {
    padding-right: 10px;
}

.mar {
    margin: 10px;
}

.mar-top {
    margin-top: 10px;
}
.mar-bottom {
    margin-bottom: 10px;
}
.mar-left {
    margin-left: 10px;
}
.mar-right {
    margin-right: 10px;
}


.pad-5 {
    padding: 5px;
}

.pad-top-5 {
    padding-top: 5px;
}
.pad-bottom-5 {
    padding-bottom: 5px;
}
.pad-left-5 {
    padding-left: 5px;
}
.pad-right-5 {
    padding-right: 5px;
}

.pad-10 {
    padding: 10px;
}

.pad-15 {
    padding: 15px;
}

.mar-5 {
    margin: 5px;
}

.mar-top-5 {
    margin-top: 5px;
}
.mar-bottom-5 {
    margin-bottom: 5px;
}
.mar-left-5 {
    margin-left: 5px;
}
.mar-right-5 {
    margin-right: 5px;
}

.mar-10 {
    margin: 10px;
}

.mar-15 {
    margin: 15px;
}

.center {
    margin: 0 auto;
    text-align: center;
}