presentational-popover {
    div.container {
        position: relative;
        display: inline-block;
    }
    div.content {
        position: absolute;
        z-index: 10000;
        min-height: 100px;
        min-width: 100px;
        padding:10px;
        box-shadow: 0px 1px 2px rgba(0,0,0,.3);
        --webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.3);
        background-color: #FFF;
    }
    div.bg {
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.6;
        z-index: 98;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        min-width: 100vw;
    }
}