presentational-modal {
    .modal {
        position: fixed;
        bottom:0;
        left:0;
        width:100vw;
        min-height: 100vh;
        background-color: #FFF;
        .modal-bar {
            background-color: rgb(243, 243, 243);
            border-bottom: 1px sold rgb(235, 235, 235);
            display: flex;
            vertical-align: top;
            .center {
                text-align: center;
            }
            .right {
                text-align: right;
            }
            span {
                flex: 1;
            }
        }
    }
}